.Download {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  max-height: 100vh;
}

.dBtnDiv {
  display: flex;
  align-items: baseline;
  padding: 20px 0 20px 20px;
}

.btnDesc {
  padding: 0 0 0 20px;
}

.desc {
  padding: 50px;
}

.modal {
    text-align: center;
  }
  
.modal-dialog {
    max-width: none;
    display: inline-block;
  }

  a {
    color: darkgreen;
  }