doctype html 
html(lang='ko')
  head
    title #{name}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/static/css/demo.css')
  body 
    div(class='container')
      div(class='header')
        div(class='head') #{title}
        div(class='sub') #{content}
      div(class='main')
        div(class='menu-container')
          div(class='menu')
            div(class='menu-img')
            div(class='menu-text')
              | 커피
              br
              del 4500
              | 3500
          div(class='menu')
            div(class='menu-img')
            div(class='menu-text')
              | 레몬에이드
              br
              del 4500
              | 3500
          div(class='menu')
            div(class='menu-img')
            div(class='menu-text')
              | 아이스티
              br
              del 4000
              | 3000
          div(class='menu')
            div(class='menu-img')
            div(class='menu-text')
              | 초코스무디
              br
              del 5000
              | 4000
          div(class='menu')
            div(class='menu-img' style=`background-image: url('/images/${image}')`)
            div(class='menu-text')
              | 비매품
              br
              | XXXX
      form(class='infected-button-form', method='post')
        input(type='hidden', name='infected' value='false')
        button(class='infected-button', type='submit') 확인
    div(class='footer') https://wifievent.io