doctype html 
html(lang='ko', style='height: 100%;')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href=`/static/css/reset.css`)
    link(rel='preconnect', href='https://fonts.googleapis.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap', rel='stylesheet')
    title waiting
  body(style='display: flex; height: 100%; flex-direction: column; justify-content: center')
    p(style='text-align: center; font-family: "Montserrat", sans-serif; font-size: 20px') network connection is established
      
