html, body, .container {
  height: calc(100%);
}

.container {
  display: grid;
  grid-template-areas: 
    "title" 
    "image"
    "content"
    "button-form";
  grid-template-rows: 1fr 6fr 4fr 1fr;
  gap: 20px;

  background-color: rgb(8, 13, 43);
}

.title {
  grid-area: title;
  display: grid;

  background-color: white;
  opacity: 0.7;

  border-radius: 0px 0px 10px 10px;

  text-align: center;
}

.title p {
  align-self: center;
  font-size: 40px;
}

.content {
  grid-area: content;
  display: grid;

  border-radius: 10px;

  background-color: white;
  opacity: 0.7;

  text-align: center;
}

.content p {
  align-self: center;
  font-size: 25px;
}

.infected-button-form {
  grid-area: button-form;
  display: grid;
}

.infected-button {
  width: 15vh; height: 50px;
  align-self: center;
  justify-self: center;
  
  border-radius: 10px;

  background-color: white;
  opacity: 0.7;

  font-size: 30px;
}

.image {
  grid-area: image;

  border-radius: 10px;

  background-size: cover;
}